modules = ["python-3.11", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"
packages = ["libxcrypt", "postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "AOD Server"

[[workflows.workflow]]
name = "AOD Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python main.py"
waitForPort = 5000

[workflows.workflow.metadata]
outputType = "webview"

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
FARM_URL = "https://40614582-9a7c-4ba9-a679-4a777bd05b41-00-2fmaco814jvdf.janeway.replit.dev"
AOD_BASE_URL = "https://discover.autonomos.software"
TZ = "America/Los_Angeles"

[deployment]
deploymentTarget = "autoscale"
run = ["python", "main.py"]
